/*
 * messages.c.example
 *
 *  Created on: 15 mai 2013
 *      Author: quentin
 */

#include "messages.h"


// function converting an enum element in string, has to be filled manually
char *eType2str(E_TYPE elem){

    switch (elem){

    case E_DEBUG : return "DEBUG";

    default :
        return "not an E_TYPE element";
    }

    return 0;
}

